<div class="{{ class }}">
    <article class="card">
        <div class="card-body bg-dark text-white">

            <div class="card-text">
                {{carousel.name}}
            </div>
        </div>

        {{ include("home/carousel_detail.html.twig" )}}


    </article>
</div>

