<div class="carousel slide" data-ride="carousel" id="carousel--{{post.id}}--{{carousel.id}}">

    <ol class="carousel-indicators">
        {% for carouselDetail in carousel.carouselDetails %}
            <li data-slide-to="{{loop.index}}" data-target="#carousel--{{post.id}}--{{carousel.id}}"></li>
        {% endfor %} 
    </ol>


    <div class="carousel-inner">
        {% for carouselDetail in carousel.carouselDetails %}
            <div class="carousel-item{% if loop.index == 1%} active{% endif %}">
                <img class="d-block w-100" src="{{carouselDetail.image}}" alt="First slide">

                 <div class="carousel-caption d-none d-md-block">
                    <h5>{{carouselDetail.description}}</h5>
                    
  </div>
            </div>
        {% endfor %} 
    </div>

    <a class="carousel-control-prev" data-slide="prev" href="#carousel--{{post.id}}--{{carousel.id}}" role="button">
        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" data-slide="next" href="#carousel--{{post.id}}--{{carousel.id}}" role="button">
        <span aria-hidden="true" class="carousel-control-next-icon"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

