{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
    <div class="container">

        <div>
            {% for category in get_categories() %}
                <h1>{{ category.title }}</h1>
                {% for row in category.posts|batch(1) %}
                    {#il en s'agit de boucler que pour la mise en forme ici#}
                    <div
                        class="row">
                        {#il en s'agit de boucler que pour la mise en forme ici#}
                        {% for post in row %}
                            {{ include("home/post.html.twig", {post:post, class: 'col-md-12'}) }}
                        {% endfor %}
                    </div>


                    <div class="card-header">
                        Type de Menus
                    </div>
                    {% for row  in category.typeMenus|batch(1) %}

                        <div class="row">

                            {{ include("home/type_menu.html.twig") }}

                        </div>

                    {% endfor %}
                {% endfor %}


            {% endfor %}
        </div>

    </div>

{% endblock %}

