<h5>
    Les differents menus de
    {{typeMenu.name}}</h5>

<div class="card-group">
    {% for menu in typeMenu.menus %}


        <div class="card">
            <img class="card-img-top" src="{{ menu.image }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">{{menu.name }} {{ menu.price }}€</h5>
                <p class="card-text">{{ menu.content }}</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>


    {% endfor %}
</div>

