<div class="{{class}}" id="post-title-{{post.id}}">
    <article class="card mb-4">
        <div class="card-body bg-dark text-white">
            <h5 class="card-title">{{ post.title}}</h5>
            <div class="card-text">{{post.content|raw }}</div>
            {% for row in post.carousels|batch(1) %}
                <div class="row">
                    {% for carousel in row %}
                        {{ include("home/carousel.html.twig", {carousel:carousel, class: 'col-md-12' }) }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </article>
</div>
