

  
  <ul class="list-group list-group-flush">
   {% for typeMenu in row %}
    <li class="list-group-item my-3"> <h3>{{typeMenu.name}}<h3> <p>{{typeMenu.description}}<p></li>

   {{ include("home/menu.html.twig")}}

    {% endfor %}
  </ul>
