{% extends 'base.admin.html.twig' %}

{% block title %}Carousel index{% endblock %}

{% block body %}
    <h1>Carousel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Published</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carousel in carousels %}
            <tr>
                <td>{{ carousel.id }}</td>
                <td>{{ carousel.name }}</td>
                <td>{{ carousel.published ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('carousel_show', {'id': carousel.id}) }}"class="btn btn-primary">show</a>
                    <a href="{{ path('carousel_edit', {'id': carousel.id}) }}"class="btn btn-secondary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('carousel_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
