{% extends 'base.admin.html.twig' %}

{% block title %}New Carousel{% endblock %}

{% block body %}
    <h1>Create new Carousel</h1>

    {{ include('carousel/_form.html.twig') }}

    <a href="{{ path('carousel_index') }}" class="btn-btn-primary">back to list</a>
{% endblock %}
