{% extends 'base.admin.html.twig' %}

{% block title %}Carousel{% endblock %}

{% block body %}
<h1>Carousel</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ carousel.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ carousel.name }}</td>
        </tr>
        <tr>
            <th>Published</th>
            <td>{{ carousel.published ? 'Yes' : 'No' }}</td>
        </tr>
    </tbody>
</table>

<div class="row">

    <div class="col md-4">
        <a href="{{ path('admin_carousel_index') }}" class="btn btn-primary">back to list</a>
    </div>
        <div class="col md-4">
            <a href="{{ path('carousel_edit', {'id': carousel.id}) }}" class="btn btn-secondary">edit</a>
        </div>
        <div class="col md-4">
            {{ include('admin/carousel/_delete_form.html.twig') }}
        </div>

 </div>
    {% endblock %}