{% extends 'base.html.twig' %}

{% block title %}Our fucking Menus
{% endblock %}

{% block body %}
    <h1>Menus</h1>
    {% for type_menu in type_menus %}
        <h1>{{type_menu.name}}</h1>
        {% for menu in type_menu.menus %}
            <div class="card card-body">
                <h5 class="card-title">{{menu.name}}
                    {{menu.price}}€</h5>

                {% if menu.image %}
                    <img src="{{menu.image}}" class="img-fluid"/>
                {% endif %}

            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
