{% extends 'base.admin.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1>Edit Category</h1>

    {{ include('admin/category/_form.html.twig', {'button_label': 'Update' }) }}

    <a href="{{ path('admin_category_index') }}" class="btn btn-primary">back to list</a>

    {{ include('admin/category/_delete_form.html.twig') }}
{% endblock %}
