{% extends 'base.admin.html.twig' %}

{% block title %}Category index
{% endblock %}

{% block body %}
    <h1>Category index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.title }}</td>
                    <td>{{ category.description }}</td>
                    <td>{{ category.image }}</td>
                    <td>{{ category.slug }}</td>
                    <td>
                        <a href="{{ path('category_show', {'id': category.id}) }}" class="btn btn-primary">show</a>
                        <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-secondary">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
