{% extends 'base.admin.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ category.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ category.image }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ category.slug }}</td>
            </tr>
        </tbody>
    </table>

<div class="row"> 
   <div class="col-md-4">
        <a href="{{ path('admin_category_index') }}" class="btn btn-primary">back to list</a>
   </div>
    
  <div class="col-md-4">
        <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-success">edit</a>
  </div>

  <div class="col-md-4">

      {{ include('admin/category/_delete_form.html.twig') }}
  </div>

{% endblock %}
