<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>templaterestaurant-
            {% block title %}Welcome!
            {% endblock %}
        </title>

        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
        {% block stylesheets %}
            <link href="/css/main.css" rel="stylesheet">

        {% endblock %}


    </head>


    <body id="home-page">
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
            <a class="navbar-brand my-3" href="#">Restaurant-name</a>
            <button aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarColor03" data-toggle="collapse" type="button"></button>


            <div class="collapse navbar-collapse " id="navbarColor03">
                <ul class="navbar-nav my-3 text-right">

                    {% for category in get_categories() %}
                        <li class="nav-item dropdown">

                            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navabardrop__{{category.id}}" role="button">
                                {{category.title}}
                            </a>

                            <div aria-labelledby="navabardrop__{{category.id}}" class="dropdown-menu">
                                {% for post in category.posts %}
                                    <a class="dropdown-item" href="#navabardrop__{{post.id}}">
                                        <span class="slide-to" data-target="#post-title-{{post.id}}">{{post.title}}
                                        </span>
                                    </a>
                                {% endfor %}
                            </div>
                        </li>
                    {% endfor %}


                    <li class="nav-item">
                        <a href="{{path('menu.index')}}">Nos menus</a>
                    </li>


                    <li class="nav-item">
                        <a href="{{ path('app_login')}}">
                            <button class="btn btn-primary">Connexion</button>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ path('app_logout')}}">
                            <button class="btn btn-primary">Déconnexion</button>
                        </a>
                    </li>

                    </ul>

                </nav>
                {% block body %}{% endblock %}
                <!-- Footer -->


                <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
                <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

                <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

                {% block javascripts %}

                    <script type="text/javascript" src="{{asset('js/main.js')}}"></script>
                {% endblock %}
            </body>
        </html>

