<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>templaterestaurant-
            {% block title %}Welcome Admin!
            {% endblock %}
        </title>

        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">

        {% block stylesheets %}

            <link href="/css/admin.css" rel="stylesheet">
        {% endblock %}

    </head>


    <body>
        <div id="throbber" style="display:none; min-height:120px;"></div>
        <div id="noty-holder"></div>
        <div
            id="wrapper">
            <!-- Navigation -->
            <nav
                class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
              
                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">
                    <li>
                        <a data-original-title="Stats" data-placement="bottom" data-toggle="tooltip" href="#" href="#">
                            <i class="fa fa-bar-chart-o"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin User
                            <b class="fa fa-angle-down"></b>
                        </a>
                        <ul class="dropdown-menu">
                            
                           
                            <li class="divider"></li>
                            <li>
                                <a href="{{ path('app_logout')}}">
                                    <i class="fa fa-fw fa-power-off"></i>
                                    Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                            <li>
                            <a href="{{ path('admin_category_index')}}">
                                <i class="fa fa-fw fa-user-plus"></i>
                                Category</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_carousel_index') }}">
                                <i class="fa fa-fw fa-paper-plane-o"></i>
                                Carousel</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_menu_index') }}">
                                <i class="fa fa-fw fa fa-question-circle"></i>
                                Menu</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <div id="page-wrapper">
                <div
                    class="container-fluid">
                    <!-- Page Heading -->
                    <div class="row" id="main">
                        <div class="col-sm-12 col-md-12 well" id="content">
                            <h1>Welcome Admin!</h1>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->

        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        {% block javascripts %}
            <script type="text/javascript" src="{{asset('js/admin.js')}}"></script>
        {% endblock %}
    </body>
</html>

