<form method="post" action="{{ path('type_menu_delete', {'id': type_menu.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_menu.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
