{% extends 'base.html.twig' %}

{% block title %}Edit TypeMenu{% endblock %}

{% block body %}
    <h1>Edit TypeMenu</h1>

    {{ include('type_menu/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_menu_index') }}" class="btn btn-primary">back to list</a>

    {{ include('type_menu/_delete_form.html.twig') }}
{% endblock %}
