{% extends 'base.html.twig' %}

{% block title %}TypeMenu index{% endblock %}

{% block body %}
    <h1>TypeMenu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Updated_at</th>
                <th>Description</th>
                <th>Published</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_menu in type_menus %}
            <tr>
                <td>{{ type_menu.id }}</td>
                <td>{{ type_menu.name }}</td>
                <td>{{ type_menu.image }}</td>
                <td>{{ type_menu.updatedAt ? type_menu.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ type_menu.description }}</td>
                <td>{{ type_menu.published ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('type_menu_show', {'id': type_menu.id}) }}" class="btn btn-primary"->show</a>
                    <a href="{{ path('type_menu_edit', {'id': type_menu.id}) }}" class="btn btn-secondary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_menu_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
