{% extends 'base.html.twig' %}

{% block title %}New TypeMenu{% endblock %}

{% block body %}
    <h1>Create new TypeMenu</h1>

    {{ include('type_menu/_form.html.twig') }}

    <a href="{{ path('type_menu_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}
