{% extends 'base.html.twig' %}

{% block title %}TypeMenu{% endblock %}

{% block body %}
    <h1>TypeMenu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_menu.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ type_menu.name }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ type_menu.image }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ type_menu.updatedAt ? type_menu.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ type_menu.description }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ type_menu.published ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_menu_index') }}" class="btn btn-primary">back to list</a>

    <a href="{{ path('type_menu_edit', {'id': type_menu.id}) }}" class="btn btn-secondary">edit</a>

    {{ include('type_menu/_delete_form.html.twig') }}
{% endblock %}
