{% extends 'base.admin.html.twig' %}

{% block title %}Edit Menu{% endblock %}

{% block body %}
    <h1>Edit Menu</h1>

    {{ include('admin/menu/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_menu_index') }}" class="btn btn-primary">back to list</a>

    {{ include('admin/menu/_delete_form.html.twig') }}
{% endblock %}
