{% extends 'base.admin.html.twig' %}

{% block title %}Menu index{% endblock %}

{% block body %}
    <h1>Menu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Content</th>
                <th>Price</th>
                <th>Slug</th>
                <th>Image</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.id }}</td>
                <td>{{ menu.name }}</td>
                <td>{{ menu.content }}</td>
                <td>{{ menu.price }}</td>
                <td>{{ menu.slug }}</td>
                <td>{{ menu.image }}</td>
                <td>{{ menu.updatedAt ? menu.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('menu_show', {'id': menu.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('menu_edit', {'id': menu.id}) }}" class="btn btn-secondary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('menu_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
