{% extends 'base.admin.html.twig' %}

{% block title %}New Menu{% endblock %}

{% block body %}
    <h1>Create new Menu</h1>

    {{ include('admin/menu/_form.html.twig') }}

    <a href="{{ path('admin_menu_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}
