{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <h1>Menu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ menu.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ menu.name }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ menu.content }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ menu.price }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ menu.slug }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ menu.image }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ menu.updatedAt ? menu.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
<div class="col-md-4">
        <a href="{{ path('admin_menu_index') }}" class="btn btn-primary">back to list</a>

</div>            
            <div class="col-md-4">
                <a href="{{ path('menu_edit', {'id': menu.id}) }}" class="btn btn-success">edit</a>

            </div>
            <div class="col-md-4">
                {{ include('admin/menu/_delete_form.html.twig') }}

            </div>
    </div>
{% endblock %}
